div.container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: grid;
    flex-direction: column;
}

div form button[type="submit"]{
    margin-top: 1rem;
    background-color: rgb(56, 184, 56);
   
}

h1{
    text-align: center;
}