<body>

<section id="faq" class="section section--faq">
    <div class="container grid">
      <div class="section__header">
        <h2 class="section__title">Dúvidas</h2>
        <strong class="section__subtitle">frequentes</strong>
      </div>

      <div class="accordion accordion--faq">
        <div class="accordion__item active">
          <div class="accordion__header">Como se tornar um revendedor oficial</div>
          <div class="accordion__content">
          Basta seguir o passo a passo na parte superior do site!
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">Posso revender os produtos como pessoa física de forma digital, através do instagram e facebook?</div>
          <div class="accordion__content">
          Não! Para se tornar um revendedor oficial da Gocase é necessário que você tenha uma empresa (CNPJ) e no mínimo 01 (uma) loja física ou quiosque!
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">Qual o pedido mínimo inicial?</div>
          <div class="accordion__content">
          O pedido mínimo irá variar de acordo com as campanhas promocionais de venda vigentes! Para saber mais realize seu cadastro como revendedor oficial e aguarde o contato de nossa equipe comercial!
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__header">Qual o prazo de entrega do pedido?</div>
          <div class="accordion__content">
          Todos os produtos que você irá adquirir serão produzidos exclusivamente para seu pedido, ou seja, trabalhamos com um formato que sempre te proporcionará produtos 100% novos! O prazo de produção e entrega do pedido varia de 15 a 20 dias úteis.
          </div>
        </div>
      </div>
    </div>
  </section>
</body>