<h3> escolha playlist para melhorar o seu dia!</h3>
<div class="container">
     <ul>
         <li><a routerLink="/musicplay" ><img src="../../assets/img/rock.webp" alt=""></a></li>
         <li><a href=""><img src="../../assets/img/rapAcustico.jpeg" alt=""></a></li>
         <li><a href=""><img src="../../assets/img/raeggeton.jpeg" alt=""></a></li>
         <li><a href=""><img src="../../assets/img/rock80.png" alt=""></a></li>
         <li><a href=""><img src="../../assets/img/trap.jpg" alt=""></a></li>
         <li><a href=""><img src="../../assets/img/mpb.png" alt=""></a></li>
         <li><a href=""><img src="../../assets/img/download.jpeg" alt=""></a></li>
         <li><a href=""><img src="../../assets/img/funkpop.jpeg" alt=""></a></li>
     </ul>

</div>