div.container  ul>li>a>img{
    max-width: 200px;
    max-height: 200px;
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
}

div.container ul {
    margin-top: 5rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* -ms-grid-column-align: center */
}

h3{
    margin-top: 5rem;
    text-align: center;
}